# Tipo de banco: firebird ou postgres
MEDSOFT_DB_TYPE=postgres

# Firebird
MEDSOFT_FB_HOST=SEU_SERVIDOR
MEDSOFT_FB_PORT=3050
MEDSOFT_FB_USER=SEU_USUARIO
MEDSOFT_FB_PASS=SUA_SENHA
MEDSOFT_FB_BASE_DIR=C:\CAMINHO\DO\BANCO

# PostgreSQL
MEDSOFT_PG_HOST=SEU_SERVIDOR
MEDSOFT_PG_PORT=5432
MEDSOFT_PG_DB=SEU_BANCO
MEDSOFT_PG_USER=SEU_USUARIO
MEDSOFT_PG_PASS=SUA_SENHA

# Flask
MEDSOFT_SECRET_KEY=troque_por_uma_chave_forte
